* {
    margin: 0;
    font-family: Nunito, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.head {
    height: 100vh;
    min-height: 800px;
    background-image: url('./head4.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    width: 80%;
    height: 80px;
    padding: 40px 10% 5px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
    color: #FF6700;
    text-transform: uppercase;
    font-weight: 700;
}

.nav {
    width: 50%;
    text-align: end;
}

.nav ul li {
    display: inline-block;
    margin: 0 2%;
    color: rgba(0, 0, 0, 0.64);
    /* color: #fff; */
}

.nav ul li:hover {
    color: #FF6700;
}

.nav ul li:last-child {
    background-color: #FF6700;
    padding: 13px 23px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.box-head {
    width: 60%;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box_head_item p:first-child {
    color: rgba(0, 0, 0, 0.64);
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box_head_item p:last-child {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    
}

.box-head .submit_btn {
    color: #fff;
    background-color: #FF6700;
    padding: 20px 35px;
    cursor: pointer;
}

.color_orange {
    color: #FF6700;
}

.head_title {
    width: 40%;
    height: 50%;
    margin: 2% 0 0 50%;
}

.head_title h1 {
    text-transform: capitalize;
    font-size: 3.4rem;
}

.head_title div {
    margin-top: 4%;
}

.head_title div span {
    background-color: #fff;
    padding: 10px 13px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.4);
}

.head_title div span i {
    font-size: 12px;
    margin-left: 3px;
}

.head_title div p {
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
}

.about {
    margin: 5% 0 5% 10%;
    width: 90%;
    min-height: 25vh;
    display: flex;
    padding-top: 20px;
}

.about .title_about {
    padding-top: 3%;
    width: 40%;
}

.about .title_about h3 {
    color: #FF6700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about .title_about h1 {
    text-transform: capitalize;
}

.about .about_text {
    box-sizing: border-box;
    padding: 4%;
    width: 60%;
    height: 100%;
    background-color: rgba(255, 103, 0, .1);
    color: rgba(0, 0, 0, 0.64);
}

.about .about_text p {
    margin-bottom: 50px;
}

.about .about_text span {
    color: #fff;
    background-color: #FF6700;
    padding: 20px 35px;
    cursor: pointer;  
}

.locations {
    width: 85%;
    margin: 5% 7%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


.card {
    width: 250px;
    height: 300px;
    padding-top: 20px;
}

.card .card_photo {
    height: 150px;
    position: relative;
}

.card .card_photo .card_price {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: #fff;
    width: 50px;
    height: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: #FF6700;
    font-weight: 700;
    text-align: center;
}

.card .card_photo img {
    width: 100%;
    height: 150px;
}

.card .card_title {
    margin-top: 30px;
}

.card .card_location {
    color: rgba(0, 0, 0, .64);
    margin: 5px 0;
    font-size: 13px;
}

.star_checked {
    color: #FFDF00;
}

.star_unchecked {
    color: #ccc;
}

.arrow_location {
    height: 300px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.background_rounded {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    padding: 10px;
}

.contact {
    box-sizing: border-box;
    padding: 5% 10%;
    width: 80%;
    margin: 5% 10%;
    background-color: rgba(255, 103, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact h1 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact h1 span {
    text-transform: lowercase;
}

.contact p {
    margin-bottom: 20px;
}

.contact .subscribe_form span {
    color: #fff;
    background-color: #FF6700;
    padding: 12px 25px;
    cursor: pointer;
}

.contact .email_subscribe {
    border: 0;
    background-color: #fff;
    padding: 15px 40px;
    width: 30vw;
    margin-right: 10px;
    border: 1px solid #FF6700;
}

.contact .email_subscribe:focus {
    border: 0;
}